src/*.o
src/*.mod
src/*.pyf
src/*.so
src/__pycache__
src/*.npy
src/*.csv
src/*.txt
src/*.cfg
!src/prec_reduction_thesis.py
src/RUN*
!src/code_table_allom.csv
!src/concatenated_series_MAN_30prec_3y.csv
!src/*.csv
!/home/amazonfaceme/biancarius/CAETE-DVM-alloc-allom/src/res_bfast.png
src/30perc_reduction/
src/30perc_reduction copy/



!outputs/*.py
!outputs/*.csv
!outputs/base_run/
!outputs/t10_141223/gridcell175-235/*.png
outputs/base_run/gridcell175-235/csv/*csv

!outputs/MAN/experiments/MAN_10prec_1y/gridcell186-239/*.pkz
outputs/
!MAN/experiments/30perc_reduction/MAN_timeseries_allfreq_30perc_subplots.png



Essas regras dizem para ignorar todos os arquivos dentro do diretório `outputs`, mas fazer exceções para os arquivos com extensão `.py` e `.csv`. Certifique-se de que este arquivo `.gitignore` esteja na raiz do seu repositório Git.
outputs_server/*
nc_outputs/*
h5/*
src/.python-version
src/logfile.log
input/.python-version
run_debug
.vscode
.python-version
SANDBOX/
BENCHMARK/
PLS_stabilization_test/
k34/CO2_AMB_AmzFACE2000_2100.csv
k34/CO2_ELE_AmzFACE2000_2100.csv
k34/MetData_AmzFACE2000_2015_CAETE.csv
CAETE_PRE_IMERSAO/

k34/

